body{
	background-color: #181818;
}

/* HEADER */
#header-nav{
	background-color: #282828;
	border-radius: 0;
	border: 0;
	height: 100px;
}
#navbar-header{
/*	width: 1000px;
	height: 100px;*/
}
#logo-img{
	background: url(../Images/Logo.jpg) no-repeat;
	width: 75px;
	height: 75px;
	margin: 10px 15px 10px 15px;
}
/*Title*/
.navbar-brand{
	width: 200px;
}
.navbar-brand h1{
	margin: 10px;
	font-family: 'Lora', serif;
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold; /*Finally got it - Yay!!!!*/
	text-shadow: 10px 10px 1px #222;
	margin-top: 10px;
	line-height: .75;
	margin-right: 0;
	/*margin-right: 500px;*/
	width: 200px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

/*BBPS Dwarka thingy*/
.navbar-brand p{
	color: #fff;
	font-size: 0.75em;
	margin-left: 10px;
	/*margin-right: 500px;*/
}
.container{
	margin-left: 50px;
	margin-right: 50px;
}

/* NAVBAR BUTTONS */
.navbar-buttons a:hover, .navbar-buttons a:focus{
	text-decoration: none;
	color: #ffffff;
}
/*#navbar-buttons{
  border: 2px solid;
  padding: 0px;
  box-shadow: 5px 5px;
  width: 400px;
  padding-right: 0px;
  box-sizing: border-box;
}*/
.navbar-buttons a{
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}
.navbar-buttons{
	margin-top: 50px;
}
/*.btn{
	margin: 0px;
	padding: 5px;
}*/

#collpsable-nav a{
	padding: 0px;
	padding-right: 10px;
	/*margin: 10px;*/
}




#collpsable-nav{
	/*margin-top: 15px;*/
	margin: 0;
	padding: 0;
	margin-top: 30px;
}
.num-1{
	margin-right: 45px;
}
.num-2{
	margin-top: 10px;
}
#nav-list{
	font-size: 12px;
	/*margin-right: 10px;*/
	color: #fff;
}

#nav-list{
	margin-top: 20px;
}

#nav-list a{
	text-align: center;
	background-color: #282828;
}

#nav-list a:hover{
	color: #D3D3D3;
}

#nav-list span{
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1.5em;
	line-height: 15px;
}

footer{
	background-color: #282828;
	border-width: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	padding-left: 50px;
}

iframe{
	border-radius: 20px;
	border: 0;
}

#map-tile{
	align-content: center;
}

iframe:hover{
	box-shadow: 2px 2px 2px 2px #000000;
}
#quote{
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	margin: 0 auto 15px;
	margin-top: 5.5em;
}

#quote2{
	color: #ffffff;
	font-size: 20px;
	text-align: center;
	width: 55%;
	margin: 0 auto 15px;
	margin-top: 50px;
/*	margin-top: 5.5em;*/
}

@media (min-width: 1200px){
	#quote{
		padding-left: 60px;
		padding-right: 60px;
	}
}

.row{
	width: 100%;
}

#yt a, #gmail a, #ins a{
	text-decoration: none;
	color: #ffffff;
}

#social-media{
	padding-left: 11%;
}

hr{
	width: 500px;
}
	#big-waala-heading{
		font-family: 'Times New Roman', serif;
    	font-weight: bold;
    	font-size: 50px;
    	text-align: center;
      color: #ffffff;
      padding-top: 50px;
	}
    #team{
    	margin-bottom: 50px;
      text-align: center;
      font-family: 'Times New Roman', serif;
      color: #ffffff;
      font-size: 50px;
    }

    #gi-heading{
    	font-family: 'Verdana', serif;
    	font-weight: bold;
    	font-size: 100px;
    	text-align: center;
      color: #ffffff;
      padding-top: 50px;
    }

    #gi-subhead{
    	font-family: poppins-semibold, poppins, sans-serif;
    	font-weight: bold;
    	padding-left: 13%;
    	color: #ffffff;
    	line-height: 50px;
    	padding-right: 5%;
    }
    #elems{
      text-align: center;
      font-weight: bold;
      font-family: 'Times New Roman', serif;
      color: #ffffff;
      font-size: 50px;
      padding-top: 50px;
    }

    @media (min-width: 768px){
#bs, #dm, #at, #mw{
	height: 300px;
	width: 39.5%;
	margin-bottom: 15px;
	margin-top: 50px;
	margin-left: 7%;
	
	position: relative;
	border: 2px soild #ffffff;
	overflow: hidden;
	border-radius: 15px;
}
#dm, #mw{
	margin-right: 7%;
}
}

@media (max-width: 767.99px){
	#bs, #dm, #at, #mw{
	height: 300px;
	width: 70%;
	margin-bottom: 15px;
	margin-top: 50px;
	margin-left: 18%;
	
	position: relative;
	border: 2px soild #ffffff;
	overflow: hidden;
	border-radius: 15px;
}
#dm, #mw{
	margin-top: 25px;
}
}



#bs{
	background: url(../dec6542b-23e1-4a12-82c7-9bb827172a6d_prev_ui.png) no-repeat;
	background-position: center;
}

#dm{
	background: url("../WhatsApp Image 2021-06-16 at 2.33.24 PM_prev_ui.png") no-repeat;
	background-position: center;
}

#at{
	background: url(../5caa3fcf-417c-41b5-b2ce-855c3c7c3673_prev_ui2.png) no-repeat;
	background-position: center;
}

#mw{
	background: url("../WhatsApp Image 2021-06-15 at 11.56.07 PM_prev_ui.png") no-repeat;
	background-position: center;
}
#bs:hover, #dm:hover, #at:hover, #mw:hover{
	box-shadow: 0 1px 5px 1px #cccccc;
}
#bs span, #dm span, #at span, #mw span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
/*	text-transform: uppercase;*/
	background: #000;
	color: #fff;
	opacity: 0.55;
}
    .carousel-cell {
      
    width: 100%;
    height: 550px;
    }

    /* cell number */
    .carousel-cell:before {
      display: block;
    }
    .sample{
      text-align: center;
      font-size: 50px;
      font-family: poppins-semibold, poppins, sans-serif;
      width: 100%;
      margin: 0 auto 15px;
      
      /*opacity: 0.8;*/
    }
    .name{
      font-size: 28px;
      color: #ffffff;
      text-decoration: bold;
      font-weight: 700;
      height: 50px;
    }
    .designation{
      font-size: 20px;
      color: #ffffff;
      height: 50px;
    }
    .note{
      font-size: 19px;
      width: 60%;
      margin: 0 auto 15px; /*to center align any content*/
      color: #ffffff;
      line-height: 30px;
    }
    .team_mems{
      width: 175px;
      height: 175px;
      border-radius: 500px;
      border-color: #fff;
      border-width: 5px;
    }
    .name, .designation, .note, .team_mems{
      opacity: 1;
      padding: 12px;
    }

    iframe{
      border-width: 0px;
      border-radius: 20px;
      overflow: hidden;
    }
















    @media (min-width: 1200px) {
      .note{
        width: 30%;
      }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
      .note{
        width: 40%;
      }
    }


    @media (max-width: 480px) {
      .note{
        width: 70%;

       }
     }
























    }